<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha primeira API com arquitetura MVC</title>
</head>
<body>
    <!--
        Este é um exemplo de "view" dinâmica que utilizaremos 
        na próxima aula para exemplificar páginas renderizadas.
    -->
    <h1>Todos os colaboradores</h1>
</body>
</html>