<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section>
        <h1>Cadastre-se</h1>
        <form action="/registrar" method="post">
            <div>
                <label for="nome">Nome</label>
                <input id="nome" name="nome" type="text">
            </div>
            <div>
                <label for="sobrenome">Sobrenome</label>
                <input id="sobrenome" name="sobrenome" type="text">
            </div>
            <div>
                <label for="usuario">Usuário</label>
                <input id="usuario" name="usuario" type="text">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input id="senha" name="senha" type="password">
            </div>
            <div>
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </section>
</body>
</html>